# ignore vsix extension files
*.vsix
models--*
*.pt
*.csv
*.log
*.info
*.json
*.env
finetuning/venv
finetuning/output
venv
*.e*
*.o*
*.bin
*.pth
**/wandb
*.pth
*.bin
*.wandb
**/wandb/**
*.pyc
*.sh.*
.ipynb_checkpoints
**/output/**
**/node_modules/**
*.pkl
utils/processed_ids.txt
utils/failed_ids.txt
utils/summary.txt
utils/node_modules
utils/node_modules/*
